fastapi
gunicorn
uvicorn
discord.py
openai
lumaai
azure-storage-blob
azure-identity
azure-containerregistry
aiofiles
aiohttp
aioodbc==0.4.1
pyodbc==4.0.39
python-dotenv
asyncpg
python-jose
tiktoken
atproto
