fastapi
gunicorn
uvicorn
discord.py
openai
lumaai
azure-storage-blob
azure-identity
azure-containerregistry
aiofiles
aiohttp
aioodbc==0.5.0
pyodbc==5.3.0
python-dotenv
asyncpg
python-jose
tiktoken
atproto
